Repository guizo792/ecommerce-microservices: changes, and which GitLab CI jobs are due for each by the changed paths.
All: product-ms, command-ms, payment-ms, clientui

product-ms:
  stage: triggers
  trigger:
    include: product-ms/.gitlab-ci.yml

command-ms:
  stage: triggers
  trigger:
    include: command-ms/.gitlab-ci.yml

payment-ms:
  stage: triggers
  trigger:
    include: payment-ms/.gitlab-ci.yml

clientui:
  stage: triggers
  trigger:
    include: clientui/.gitlab-ci.yml

small pipeline change
  product-ms/.gitlab-ci.yml
Due: product-ms

configure docker credents
  product-ms/.gitlab-ci.yml
Due: product-ms

Initial commit
  README.md
Due: none

added payment/email/command MSs pipelines
  command-ms/.gitlab-ci.yml
  email-ms/.gitlab-ci.yml
  payment-ms/.gitlab-ci.yml
Due: command-ms, payment-ms

added clientui pipeline
  .vscode/settings.json
  clientui/.gitlab-ci.yml
  clientui/src/App.js
  clientui/src/pages/Home.js
  docker-compose.yaml
  product-ms/dev-data/createFakeData.js
Due: product-ms, clientui

Added AUTH MS
  .gitlab-ci.yml
  .vscode/settings.json
  api-gateway/app.js
  auth-ms/.gitlab-ci.yml
  auth-ms/Dockerfile
  auth-ms/app.js
  auth-ms/controllers/authController.js
  auth-ms/controllers/userController.js
  auth-ms/models/userModel.js
  auth-ms/package.json
  auth-ms/routes/userRoutes.ts
  auth-ms/server.js
  payment-ms/controllers/PaymentController.js
Due: payment-ms

Added kubernetes deployment yaml files
  kubernetes-files/command-ms-deployment.yaml
  kubernetes-files/mcommerce-secret.yaml
  kubernetes-files/mongodb-deployment.yaml
  kubernetes-files/payment-ms-deployment.yaml
  kubernetes-files/product-ms-deployment.yaml
Due: none

fixed deps issues
  auth-ms/package-lock.json
  auth-ms/package.json
Due: none

fixed routes
  auth-ms/routes/userRoutes.ts
Due: none

Path conditions:
  product-ms: any of: product-ms/**/*
  command-ms: any of: command-ms/**/**
  payment-ms: any of: payment-ms/**/*
  clientui: any of: clientui/**/*
